.landing-image {
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.landing-image-content {
    height: 100%;
    font-family: 'Archivo Black', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    padding: 40px;
}

.btn-container {
    display: flex;
    flex-direction: row;
}

.toggle-search {
    /* display: none; */
    background-color: aqua;
    width: 100%;
}


@media (min-width: 650px ) {
    .landing-image {
        background-position: center center;
    }

    .landing-image-content {
        align-items: flex-end;
        justify-content: center;
        align-items: center;
    }
}